.bg-light{
    background-color: white;
}

.navbar-nav{
    margin-left: 42%;
    text-align: right;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin: 0px 15px;
}

.span1{
   color: blue;
}

.navbar-light .navbar-brand {
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 3%;
}

.card-body{
    background-color: #d2d2ec;
}
.row{
    margin-top: 8%;
    padding: 9px 61px;
    margin-bottom: 55px;
}

.card-title {
    font-size: 27px;
}

.card-text{
    color: #00541e;
    font-size: 62px;
    font-family: arial;
}

.sp1{
    color: #08188a;
    margin-left: 58%;
    font-size: 78px;
}

.sp2{
    color: #08188a;
    margin-left: 2%;
    font-size: 78px;
}
.sp3{
    color: #08188a;
    margin-left: 27%;
    font-size: 78px;
}