body{
    background-color: black;
}

.bg-light{
    background-color: white;
   
}

.navbar-nav{
    margin-left: 42%;
    text-align: right;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin: 0px 15px;
}

.span1{
   color: blue;
}

.navbar-light .navbar-brand {
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 3%;
}

.carousel{
    margin-top: 10%;
    width: 70%;
    border: 2px solid black;
}

img{
    width: 100%;
    height: 80%;
}
