.bg-light{
    background-color: white;
    border: 1px solid #c4c4c4;
}

.navbar-nav{
    margin-left: 50%;
    text-align: right;
    font-size: 18px;
}

.span1{
   color: blue;
}

.navbar-light .navbar-brand {
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 3%;
}