.bg-light{
    background-color: white;
   
}

.navbar-nav{
    margin-left: 42%;
    text-align: right;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    margin: 0px 15px;
}

.span1{
   color: blue;
}

.navbar-light .navbar-brand {
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 3%;
}

.card {
    
    max-width: 90%;
    margin-top: 70px;
    margin-left: 5%;
    border: none;
}

.card-img{
    width: 80%;
    box-shadow: black;
}



.card-title {
    margin-bottom: 44px;
    font-size: 33px;
    margin-left: 30%;
    margin-top: 40px;
}
@media (max-width: 700px){
    .card-title {
        
        font-size: 24px;
        margin-top: 0px;
       
    }
}

p {
    
    text-align: right;
    margin-right: 35px;
    font-size: 21px;
    color: #9e9e9e;
}

.btn{
    float: right;
    margin-right: 37px;
    padding: 10px 10px;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    margin-bottom: 57px;
    padding-right: 0;
    padding-left: 0;
}

/* css page2.html */

.phrase{
    text-align: center;
}